html{
    height: 100%;
}
body{
    background-image:linear-gradient(rgb(100, 100, 204),gray);
    height:100%;
    
}
.title{
    text-align:center;
    color:rgb(228, 44, 228);
    text-shadow: 1.5px 1.5px #000000;
    font-size:30px;
    background-image: linear-gradient(purple,gray);
    border-style: inset;
}
.questionFull{

    font-size:20px;
    font-weight:bold;
    color: black;
    text-shadow: 1px 1px rgb(54, 53, 53);


}
#submit{
    color:black;
    font-weight:bold;
    font-size:15px;
    border-radius:15px;
    background-color:rgb(212, 211, 211);
}