<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Maker Homepage</title>
    <link rel="stylesheet" href="../static/styles/mainStyle.css">
</head>

<body>
    <div class = "title">
        Welcome To Character Quiz Maker!
    </div>
    <div class="row">
        <div class="column">
            <img src="../static/images/temp.jpg" alt="create" width = 400px>
            <br> <br>
            sample text
        </div>
        <div class="column">
            <img src="../static/images/temp.jpg" alt="publish" width = 400px>
            <br> <br>
            sample text
        </div>
        <div class="column">
            <img src="../static/images/temp.jpg" alt="take" width = 400px>
            <br> <br>
            sample text
        </div>
      </div>
      <div class = "start" >
          Create Your Own Character Quiz Now!
          <br> <br>
          <button onclick="location.href='quiz_form.html'" type="button">Get Started</button>
      </div>
</body>
</html>