<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Maker Homepage</title>
    <link rel="stylesheet" href="../static/styles/mainStyle.css">
</head>

<body>
    <div class = "title">
        Welcome To WhozDat!
    </div>
    <div class="row">
        <div class="column">
            <img src="../static/images/quiz_create.png" alt="create" width = 350px height = 400px>
            
            <br><br>

            <p>
                <br>
                Creating your own Quiz Instructions: <br><br>
                Provide: <br>
                4 Characters <br>
                As many questions <br> 
                4 Answers per question (Correlating to each character, in order)
            </p>
            
        </div>
        <div class="column" >
            <img src="../static/images/quiz_list.PNG" alt="publish" width = 350px height = 400px>
            
            <br><br>

            <p>
                <br><br>
                Publish your quiz to our public website for other users to enjoy.
                You will be redirected to our public quiz list upon completion,
                feel free to view other users' quizzes!
            </p>

            <br><br>
            
        </div>
        <div class="column" id = "c1">
            <img src="../static/images/quiz_take.PNG" alt="take" width = 350px height = 400px>
            <br> <br>

            <p>
                <br><br>
                Take other people's quizzes to determine which character in the given quiz
                matches your personality the best!
            </p>
            
            <br><br><br>
        </div>
      </div>
<div class = "row">
      <div class = "column2" >
          Create Your Own Character Quiz Now!
          <br> <br>
          <button onclick="location.href='quiz_form.html'" type="button">Get Started</button>
      </div>
      <div class = "column2" >
        Take a Quiz Now!
        <br> <br>
        <button onclick="location.href='quizList.html'" type="button">Quizzes</button>
        </div>
</dziv>  
</body>
</html>
