<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/quizTake.css">
    <title>Document</title>
</head>
<body>
    <div class = "title">
       Insert Quiz Title Here
    </div>
    
    <div class = "questionFull">
        <div id = "questionHeader">
            Question: placeHolder  
        </div> 
        <input type="radio" name="options" id="option1" value="option1"> Option 1 </input> <br>
        <input type="radio" name="options" id="option2" value="option2"> Option 2 </input> <br>
        <input type="radio" name="options" id="option3" value="option3"> Option 3 </input> <br>
        <input type="radio" name="options" id="option4" value="option4"> Option 4 </input> <br>
            <br>
    </div>
    
    
    <br><br>
    <button type="button" id = "submit" onclick="window.location.href='quizResults.html';">Submit Answers</button>

    <script src="../js/quizTake.js"></script>
</body>
</html>