<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/quizTake.css">
    <title>Document</title>
</head>
<body>
    <div class = "title">
        {{ title }}
    </div>

    <br><br>
    
    {% for q in range(0, num) %} 
    <div class = "questionFull">
        <div id = "questionHeader">
            {{ questions[q] }}
        </div>
        {% for option in options[q] %} 
        <input type="radio" name="options" id="option1" value="option1"> {{ option }} </input>
        {%endfor%}
        <br><br>
    </div>
    {%endfor%}
    
    <br><br>
    <button type="button" id = "submit" onclick="window.location.href='quizResults.html';">Submit Answers</button>

    <script src="../js/quizTake.js"></script>
</body>
</html>