<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/quizTake.css">
    <title>Document</title>
</head>
<body>
    <div class = "title">
        {{ title }}
    </div>

    <br><br>

    <form method="POST">
        {% for i in range(0, num) %} 
        <div class = "questionFull">
            <div id = "questionHeader">
                Question {{i+1}}: {{ questions[i] }}
            </div>

            <div id = "optionList">
                <input type="radio" name="option{{i}}" id="option1" value="0"> {{ options[i][0] }} </input>
                <input type="radio" name="option{{i}}" id="option1" value="1"> {{ options[i][1] }} </input>
                <input type="radio" name="option{{i}}" id="option1" value="2"> {{ options[i][2] }} </input>
                <input type="radio" name="option{{i}}" id="option1" value="3"> {{ options[i][3] }} </input>
            </div>
            
            <br><br>
        </div>
        {%endfor%}
        
        <br><br>

        <button type="button" id = "submit" onclick="window.location.href='quizResults.html';">Submit Answers</button>
    </form>
</body>
</html>