html{
    height: 100%;
}
body{
    background-image:linear-gradient(rgb(100, 100, 204),gray);
    height:100%;
    
}
.title{
    text-align:center;
    color:rgb(228, 44, 228);
    text-shadow: 1.5px 1.5px #000000;
    font-size:30px;
    background-image: linear-gradient(purple,gray);
    border-style: inset;
}
.header{
    padding-top:20px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color:rgb(141, 17, 17);
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.character{
    text-align:center;
    padding-top:10px;
    font-weight:bold;
    color:rgb(139, 141, 17);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size:50px;

}
#take{
    color:black;
    font-weight:bold;
    font-size:15px;
    border-radius:15px;
    background-color:rgb(212, 211, 211);
}

#create{
    margin-left:100px;
    color:black;
    font-weight:bold;
    font-size:15px;
    border-radius:15px;
    background-color:rgb(212, 211, 211);
}

.buttons{
    padding-top:100px;
    text-align:center;
}
.img{
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    
}